@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Work+Sans:wght@400;500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.features__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.features__wrapper .title h2 {
  margin-bottom: 50px;
}
.features__wrapper .title p {
  max-width: 638px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  text-align: center;
}
.features__wrapper .features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features__wrapper .features__cards .card__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.features__wrapper .features__cards .card__item-pic {
  margin-right: -60px;
  z-index: 1;
  height: 180px;
}
.features__wrapper .features__cards .card__item-pic img {
  width: auto;
  max-width: initial;
}
.features__wrapper .features__cards h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 20px;
}
.features__wrapper .features__cards p {
  max-width: 230px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  margin-bottom: 20px;
}
.features__wrapper .features__cards .card__item-text {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 62px 70px 62px 100px;
}
.features__wrapper .features__cards .bg__data {
  background: #F0FAF9 url(./img/bg-data.png) no-repeat top right;
}
.features__wrapper .features__cards .card__more {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  background: url(./img/arrow.png) no-repeat 60% center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.features__wrapper .features__cards .card__more:hover, .features__wrapper .features__cards .card__more:active, .features__wrapper .features__cards .card:focus {
  background: url(./img/arrow.png) no-repeat 65% center;
}