@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Work+Sans:wght@400;500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

.features__wrapper {
  max-width: 1170px;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.features__wrapper .title .title__features {
  margin-bottom: 50px;
  color: #212353;
}
.features__wrapper .title p {
  max-width: 638px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  text-align: center;
}
.features__wrapper .features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features__wrapper .features__cards .card__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1024px) {
  .features__wrapper .features__cards .card__item {
    width: 100%;
  }
}
.features__wrapper .features__cards .card__item-pic {
  margin-right: -60px;
  z-index: 1;
  height: 180px;
}
@media only screen and (max-width: 768px) {
  .features__wrapper .features__cards .card__item-pic {
    display: none;
  }
}
.features__wrapper .features__cards .card__item-pic img {
  width: auto;
  max-width: initial;
}
.features__wrapper .features__cards h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 20px;
}
.features__wrapper .features__cards p {
  max-width: 230px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  margin-bottom: 20px;
}
.features__wrapper .features__cards .card__item-text {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 62px 70px 62px 100px;
}
.features__wrapper .features__cards .bg__data {
  background: #F0FAF9 url(./img/bg-data.png) no-repeat top right;
}
.features__wrapper .features__cards .bg__access {
  background: #F6F0FD url(./img/bg-access.png) no-repeat bottom right;
}
.features__wrapper .features__cards .bg__print {
  background: #FEF0F8 url(./img/bg-print.png) no-repeat top right;
}
.features__wrapper .features__cards .bg__code {
  background: #EAF6FC url(./img/bg-code.png) no-repeat center;
}
.features__wrapper .features__cards .card__more {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  background: url(./img/arrow.png) no-repeat 60% center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.features__wrapper .features__cards .card__more:hover, .features__wrapper .features__cards .card__more:active, .features__wrapper .features__cards .card:focus {
  background: url(./img/arrow.png) no-repeat 65% center;
}

.testimonials__wrapper {
  max-width: 1170px;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #CCDDFF url(./img/bg-testimonial.png) no-repeat center;
  border-radius: 50px;
  padding: 50px;
}
.testimonials__wrapper .title__testimonials {
  color: #4B5D68;
  margin: 0 0 85px;
}
.testimonials__wrapper .review__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1024px) {
  .testimonials__wrapper .review__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.testimonials__wrapper .review__card {
  max-width: 465px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin: 0 100px 0 0;
}
@media only screen and (max-width: 1024px) {
  .testimonials__wrapper .review__card {
    width: 100%;
    margin: 0 0 20px;
    height: auto;
  }
}
.testimonials__wrapper .review__card:last-child {
  margin-right: 0;
}
.testimonials__wrapper .review__card-wrapper {
  margin: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .testimonials__wrapper .review__card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.testimonials__wrapper .review__pic {
  max-width: 90px;
  height: auto;
  margin-right: 15px;
}
.testimonials__wrapper h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
}
.testimonials__wrapper a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.01em;
  color: #9C69E2;
  text-decoration: none;
  margin-bottom: 18px;
}
.testimonials__wrapper a:hover {
  opacity: 0.65;
}
.testimonials__wrapper p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.footer__wrapper {
  max-width: 1170px;
  margin: 0 auto 120px;
}
.footer__wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}
.footer__wrapper .navigation__title {
  margin-bottom: 30px;
}
.footer__wrapper .footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1024px) {
  .footer__wrapper .footer__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__wrapper-item {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
  margin-bottom: 20px;
}
.footer__wrapper-desc > span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}
@media only screen and (max-width: 1024px) {
  .footer__wrapper .footer__title-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}
.footer__wrapper .btn__more {
  width: 210px;
  height: 60px;
  background: #F063B8;
  border: 1px solid #F063B8;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin-right: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}
.footer__wrapper .btn__more:hover {
  background: #EB4BAB;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.footer__wrapper .bnt__request {
  width: 210px;
  height: 60px;
  padding-left: 20px;
  background: #FFFFFF url(./img/arrow.png) no-repeat 85% center;
  border: 1px solid #9C69E2;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  text-align: left;
  color: #212353;
}
.footer__wrapper .bnt__request:hover {
  background: #9C69E2 url(./img/arrow_white.png) no-repeat 85% center;
  color: #FFFFFF;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.footer__wrapper .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1024px) {
  .footer__wrapper .footer__navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}
.footer__wrapper .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.footer__wrapper .footer__logo img {
  margin-right: 20px;
}
.footer__wrapper .footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__wrapper .footer__address span {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer__wrapper .footer__address:last-child {
  margin-bottom: 0;
}
.footer__wrapper .footer__navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__wrapper .footer__navigation-links:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .footer__wrapper .footer__navigation-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}
.footer__wrapper .footer__about, .footer__wrapper .footer__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 168px;
}
.footer__wrapper .footer__about:last-child, .footer__wrapper .footer__help {
  margin-bottom: 0;
}
.footer__wrapper .footer__link {
  text-decoration: none;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}
.footer__wrapper .footer__link:active, .footer__wrapper .footer__link:focus, .footer__wrapper .footer__link:hover {
  color: #8A40EE;
}
.footer__wrapper .media__link {
  text-decoration: none;
}
.footer__wrapper svg {
  margin-right: 15px;
}
.footer__wrapper .facebook__icon:hover {
  overflow: inherit;
}
.footer__wrapper .facebook__icon:hover circle {
  stroke: #3B5998;
  fill: none;
  opacity: 1;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.footer__wrapper .facebook__icon:hover path {
  fill: #3B5998;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.footer__wrapper .insta__icon:hover {
  overflow: inherit;
}
.footer__wrapper .insta__icon:hover circle {
  stroke: #C13584;
  fill: none;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__wrapper .insta__icon:hover path {
  fill: #C13584;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__wrapper .twitter__icon:hover {
  overflow: inherit;
}
.footer__wrapper .twitter__icon:hover circle {
  stroke: #00ACEE;
  fill: none;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__wrapper .twitter__icon:hover path {
  fill: #00ACEE;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__wrapper .footer__registration {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}